<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Blog</title>
</head>
<body>
  <br>

  <div class="container">
  <h1 class="blogs-title">Blog Bliss</h1>

<br>
<hr>


 <!-- Example Blog 1 -->
 <div class="blog-block">
  <img class="blog-image" src="\images\ai.webp" alt="Blog 1 Image">
  <h2 class="blog-title">Build Your Own AI Image Creation Application</h2>
  <p class="blog-meta">Published on January 19, 2024 by Andrew Prokop</p>
  <p class="blog-description">
    Welcome back to my “Build Your Own” series of blog articles. In previous posts, I discussed two ways to build your own ChatGPT lookalike application. This time around, I want to show you how you can use an OpenAI API and the DALL-E3 Large Language Model to create AI generated images. With this application, you simply describe what you want to see (e.g. “Santa Claus sitting on a beach with a tropical drink in his hand”) and voila, it's yours!.....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/54253791/posts/5364">Read more</a>
</div>
<hr>

<!-- Example Blog 2 -->
<div class="blog-block">
  <img class="blog-image" src="\images\bell.webp" alt="Blog 2 Image">
  <h2 class="blog-title">Bell Labs & Google: bookends of the same story ?</h2>
  <p class="blog-meta">Published on January 22, 2024 by Om Malik</p>
  <p class="blog-description">
    For decades, Bell Labs, the Murray Hill, New Jersey-based center for innovation, has come up with breakthroughs that have propelled society forward. The transistor, the laser, and the UNIX computer operating system are three in a list of endless things that we use daily. The digital camera can trace its origins there, not to mention....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/9440213/posts/922396">Read more</a>
</div>
<hr>

<!-- Block - 3 -->

<div class="blog-block">
  <img class="blog-image" src="\images\food.webp" alt="Blog 2 Image">
  <h2 class="blog-title">Food for Thought Friday</h2>
  <p class="blog-meta">Published on January 28, 2024 by K.L. Hale</p>
  <p class="blog-description">
    The massive tumors that caused pain and wreaked havoc on my systems are out for the time being (bones, be nice, I need you!). What can and will I digest now? If you battle any disease or cancer of the “gut” you're probably nodding your head right now (I'm sorry if you suffer from cancer, Crohn's, IBS, Celiac, fatty liver, gallbladder issues, etc…).
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/171225790/posts/5669">Read more</a>
</div>
<hr>


<!-- Block -4 -->

<div class="blog-block">
  <img class="blog-image" src="\images\open.jpg" alt="Blog 2 Image">
  <h2 class="blog-title">Openheimer leads the Oscar Nominations</h2>
  <p class="blog-meta">Published on January 23, 2024 by Lisa Marie Bowman</p>
  <p class="blog-description">
    After all the build-up, the Oscar nominations turned out to be what I imagine most people were expecting.  There’s a lot of worthy nominees but not many surprises.  Greta Gerwig was not nominated for Best Director and Charles Melton was not nominated for Best Supporting Actor.  (I imagine more than a few voters were too creeped out by that particular film to vote for it.)  Oppenheimer leads with 13 nominations.  Godzilla Minus One becomes the first Godzilla film to ever receive a nomination (for Visual Effects)....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/11096281/posts/183268">Read more</a>
</div>
<hr>


<!-- Block -5 -->

<div class="blog-block">
  <img class="blog-image" src="\images\alba.webp" alt="Blog 2 Image">
  <h2 class="blog-title">That ALBA Election</h2>
  <p class="blog-meta">Published on January 25, 2024 by iainlawson27</p>
  <p class="blog-description">
    No answers from Alba were forthcoming and an NEC member subsequently resigned: apparently due to the failure to address concerns that money bought seat/s on the NEC. The NEC is the National Executive Council and basically owns the party and has a major influence on who can be candidates etc....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/178669965/posts/18508">Read more</a>
</div>
<hr>





<!-- Example Blog 6 -->
<div class="blog-block">
  <img class="blog-image" src="\images\aussie.webp" alt="Blog 1 Image">
  <h2 class="blog-title">Australian Humour</h2>
  <p class="blog-meta">Published on January 26, 2024 by Forestwood</p>
  <p class="blog-description">
    Australians are renowned for a wry sense of humour. If there is something we do well down under, it is to poke fun at each other in a friendly ironic kind of way. This is not to offend, but merely to spread around a little joy and to lighten the mood. A laugh can be a wonderful health booster....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/25880358/posts/35117">Read more</a>
</div>
<hr>

<!-- Example Blog 7 -->
<div class="blog-block">
  <img class="blog-image" src="\images\scottie.webp" alt="Blog 2 Image">
  <h2 class="blog-title">The Perils of Pragmatism</h2>
  <p class="blog-meta">Published on January 31, 2024 by Peter A Bell</p>
  <p class="blog-description">
    Prompted by Professor John Curtice's, comment that his analysis of a poll “suggests Yes supporters are moving towards voting Labour”. The point I sought to make was that I view not voting for a Unionist party as a matter of conscience just as I consider it a matter of conscience to always vote in the way which I calculate best serves Scotland’s cause. Note the word ‘calculate’ there. I support Scotland’s cause with both heart and head. But when it comes to deciding how to vote, it is entirely the head that is involved. I take a wholly rational approach to my voting strategy. I do not allow emotion to cloud my judgement....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/142569423/posts/15477">Read more</a>
</div>
<hr>

<!-- Block - 8 -->

<div class="blog-block">
  <img class="blog-image" src="\images\potatoe.webp" alt="Blog 2 Image">
  <h2 class="blog-title">You say potato, I say Snack Potato</h2>
  <p class="blog-meta">Published on January 28, 2024 by C. Kennedy</p>
  <p class="blog-description">
    If a pack of potatoes eyes you from across the store, stay cool. Everything will be okay. It’s when they can’t look you in the eyes—that’s when you steer clear. However, I’ve never met a potato I haven’t found appealing, and on Tuesday night, when Nate and I did some midweek shopping, I decided a couple of Idahos looked like they might make a tasty snack....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/123754980/posts/3649">Read more</a>
</div>
<hr>


<!-- Block -9 -->

<div class="blog-block">
  <img class="blog-image" src="\images\books.webp" alt="Blog 2 Image">
  <h2 class="blog-title">Books & More Books</h2>
  <p class="blog-meta">Published on January 28, 2024 by CrystalByers</p>
  <p class="blog-description">
    I need a dedicated bookshelf for the books I’ve not read. I scanned my home in search of them, pulling them from nightstand stacks and windowsills and the top of my desk. There are more boxed up from my classroom collection. Some were highly recommended and some were gifts. Some I bought and some were free. Meanwhile, I’m finishing two. The Heaven and Earth Grocery Store by James McBride (historical fiction) and The Untethered Soul by Michael A. Singer (spiritual nonfiction). I'm enjoying my time with both. I don't read fast......
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/135589837/posts/6371">Read more</a>
</div>
<hr>


<!-- Block -10-->
<div class="blog-block">
  <img class="blog-image" src="\images\pizza.jpg" alt="Blog 2 Image">
  <h2 class="blog-title">Hobby That always comes around</h2>
  <p class="blog-meta">Published on January 26, 2024 by lunaiswriting</p>
  <p class="blog-description">
    The first thing that comes to mind is definitely reading, but there’s this little hobby I picked up that always comes back to me which is cooking. I am not good in the kitchen but every now and then I have these phases where I get determined that I will learn how to cook better or I just see a bunch of recipes I want to try or I see some “make from scratch” recipes and I just have to give it a go. I think you can see by my Youtube channel that I have been obsessed with cooking lately.....
  </p>
  <a class="read-more-link" href="https://wordpress.com/read/blogs/98801775/posts/13272">Read more</a>
</div>

<hr>





<!-- User's Blog -->
<% blogPosts.forEach(blog => { %>
<div class="blog-block">
  <img class="blog-image" src="<%= blog.photo %>" alt="Blog Image">
  <h2 class="blog-title"><%= blog.title %></h2>
  <p class="blog-meta">Published on <%= blog.date %> by <%= blog.author %></p>
  <p class="blog-description"><%= blog.content %></p>
  <a class="read-more-link" href="#">Read more</a>
</div>
<hr>
<% }) %>




  </div>
 
   
  
       



<hr>
<footer class="py-3 text-center">
  <p class="mb-0 back-to-top">
    <a style="text-decoration: none; color: black; font-size: large;" href="#">Back to top</a>
  </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    
<hr>
<p class="heart"> Made with ❤️ </p>
<hr>
<br>
</body>
</html>
<%- include("partials/footer.ejs") %>